<div class="container">
  <div class="main-wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="main-header">
          Project
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex justify-content-end">
          <label class="custom-switch mt-1">
            <input type="checkbox" (change)="checkboxChange($event)" name="option" value="2"
              class="custom-switch-input">
            <span class="custom-switch-indicator mr-2 "></span>
            <span *ngIf="isChecked">All Projects</span>
            <span *ngIf="!isChecked">My Projects</span>
          </label>
          <div>
            <nav class="navbar-expand-lg ml-4 ">
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown p-0">
                    <button class="btn btn-warning text-dark" id="navbarDropdown" role="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false" title="Filter"><i class="fe fe-filter"></i></button>
                    <div class="dropdown-menu dropdown-menu-right p-2 allow-focus">
                      <h4 class="text-primary">Filter</h4>
                      <hr>
                      <form class="accordion" id="accordionExample" [formGroup]="filterForm">
                        <div class="form-group mb-2">
                          <label class="form-label">Project Manager</label>
                          <kendo-dropdownlist [data]="projectManagers" [filterable]="true" [textField]="'fullName'"
                            [valueField]="'id'" class="w-100" formControlName="filterLeadId" [defaultItem]="defaultItem"
                            (filterChange)="handleFilter($event)">
                          </kendo-dropdownlist>


                        </div>
                        <div class="form-group">
                          <label class="form-label">2019 Theme</label>
                          <kendo-dropdownlist [data]="projectTheme" [valuePrimitive]="true" [textField]="'name'"
                            [valueField]="'id'" class="w-100" formControlName="projectTheme">
                          </kendo-dropdownlist>
                        </div>
                        <div class="form-group">
                          <label class="form-label">Project Vertical</label>
                          <kendo-dropdownlist [data]="projectVertical" class="w-100" [valuePrimitive]="true"
                            [textField]="'name'" [valueField]="'id'" class="w-100" formControlName="projectVertical">
                          </kendo-dropdownlist>
                        </div>
                        <div class="form-group">
                          <label class="form-label">Project Type</label>
                          <kendo-dropdownlist [data]="projectTypeId" class="w-100" [valuePrimitive]="true"
                            [textField]="'name'" [valueField]="'id'" class="w-100" formControlName="projectTypeId">
                          </kendo-dropdownlist>
                        </div>
                        <!-- <div class="form-group">
                                        <label class="form-label">Start Date</label>
                                        <kendo-datepicker [(value)]="startDate" class="w-100" formControlName="startDate">
                                        </kendo-datepicker>
                                      </div> -->
                        <!-- <div class="form-group">
                                        <label class="form-label">End Date</label>
                                        <kendo-datepicker [(value)]="endDate" class="w-100" formControlName="endDate">
                                        </kendo-datepicker>
                                      </div> -->
                        <div class="form-group">
                          <label class="form-label">Start Date</label>
                          <input type="date" name="" formControlName="startDate" id=""
                            class="form-control form-control-sm" [(value)]="startDate">
                        </div>
                        <div class="form-group">
                          <label class="form-label">End Date</label>
                          <input type="date" name="" formControlName="endDate" id=""
                            class="form-control form-control-sm" [(value)]="endDate">
                        </div>
                        <button class="btn btn-block btn-primary btn-sm" (click)="applyFilter()">Apply Filter</button>
                        <div class="mt-2">
                          <span><i class="fe fe-save mr-1"></i>Save Filter</span>
                          <span class="float-right" (click)=resetFilter()><i class="fe fe-refresh-ccw mr-1"></i>Reset
                            Filter</span>
                        </div>
                      </form>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- data-target="#projectDetail" -->
  <div class="flex-box justify-content-between">
    <div class="card p-3 text-center mr-3 card-one" (click)="showProjectTable('backlog')">
      <h2 class="mb-1">{{backlog.length}}</h2>
      <p>Backlog</p>
    </div>
    <div class="card p-3 text-center mr-3 card-two" (click)="showProjectTable('notStarted')">
      <h2 class="mb-1">{{notStarted.length}}</h2>
      <p>Not Started</p>
    </div>
    <div class="card p-3 text-center mr-3 card-three" (click)="showProjectTable('inProgress')">
      <h2 class="mb-1">{{inProgress.length}}</h2>
      <p>Inprogress</p>
    </div>
    <div class="card p-3 text-center mr-3 card-four" (click)="showProjectTable('complete')">
      <h2 class="mb-1">{{complete.length}}</h2>
      <p>Completed</p>
    </div>
    <div class="card p-3 text-center card-five" (click)="showProjectTable('onHold')">
      <h2 class="mb-1">{{onHold.length}}</h2>
      <p>On Hold</p>
    </div>
  </div>
  <div class="collapse" id="projectDetail">
    <kendo-grid [data]="projectData" [height]="230" (cellClick)="cellClickHandler($event.dataItem)">
      <kendo-grid-column field="projectName" title="Project List">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.projectName}}
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column field="endDate" title="End Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.endDate| date : 'mediumDate'}}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column title="Percentage(%)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.percentCompleted">
            <span>{{dataItem.percentCompleted|number : '1.0-0'}}%</span>
            <div class="progress progress-xs">
              <div class="progress-bar bg-yellow" role="progressbar"
                [style.width]="(dataItem.percentCompleted/100)*100 + '%'" aria-valuenow="42" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </span>
          <span *ngIf="!dataItem.percentCompleted">
            <span>0%</span>
            <div class="progress progress-xs">
              <div class="progress-bar bg-yellow" role="progressbar" style="width:0%" aria-valuenow="42"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
  <div class="collapse" id="childTaskDetail">

    <kendo-grid [data]="projectTaskData" class="w-100" [height]="230" [loading]="loadchildTaskGrid">
      <kendo-grid-column field="projectName" title="Title" width="300">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="cell-hover">
            <h4 class="mb-1 text-primary">{{ dataItem.projectName }}</h4>
          </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="projectBudgetHours" editor="number" title="Planned Hour" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="tag text-dark">
            {{ dataItem.projectBudgetHours| number: "1.2-2" }}
          </span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column title="Assigned" width="180">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="avatar-list avatar-list-stacked">
            <span *ngFor="let a of dataItem.allocationTable; let i = index">
              <span *ngIf="i < 5" class="avatar avatar-sm avatar-hover avatar-blue" data-toggle="tooltip"
                data-placement="top" title="{{ a.employee_first_name | initial}}{{ a.employee_last_name | initial }}"
                [ngClass]="{'avatar-purple': (i+1)%5==0,'avatar-blue': (i+1)%5==1, 'avatar-azure': (i+1)%5==2, 'avatar-indigo': (i+1)%5==3, 'avatar-red': (i+1)%5==4}">{{ a.employee_first_name | initial
            }}{{ a.employee_last_name | initial }}</span>
            </span>

            <span class="avatar avatar-sm avatar-hover avatar-gray dropdown-toggle"
              *ngIf="dataItem.allocationTable.length > 5"
              data-toggle="dropdown">+{{ dataItem.allocationTable.length - 5 }}</span>
            <div class="dropdown-menu dropdown-menu-right allow-focus" x-placement="bottom-end">
              <p class="mb-0 ml-3 text-muted">More user</p>
              <ul class="list-unstyled mb-0 o-auto p-3" style="max-height: 320px;">
                <li *ngFor="let a of dataItem.allocationTable; let i = index">
                  <div class="d-flex align-items-center" *ngIf="i>4">
                    <div class="avatar mr-3"
                      [ngClass]="{'avatar-blue': (i+1)%14==0,'avatar-azure': (i+1)%14==1, 'avatar-indigo': (i+1)%14==2, 'avatar-purple': (i+1)%14==3, 'avatar-pink': (i+1)%14==4, 'avatar-red': (i+1)%14==5, 'avatar-orange': (i+1)%14==6, 'avatar-yellow': (i+1)%14==7, 'avatar-lime': (i+1)%14==8, 'avatar-green': (i+1)%14==9, 'avatar-teal': (i+1)%14==10, 'avatar-cyan': (i+1)%14==11, 'avatar-gray': (i+1)%14==12, 'avatar-gray-dark': (i+1)%14==13}">
                      <p class="font-weight-normal mb-0">
                        {{a.employee_first_name|initial}}{{a.employee_last_name|initial}}
                      </p>
                    </div>
                    <div class="mb-3 text-truncate">
                      <span>{{a.employee_first_name}} {{a.employee_last_name}}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <!-- <span>
              <span class="pointer avatar avatar-sm avatar-tile  dropdown-toggle float-right" data-toggle="dropdown"><i
                  (click)="openUserModal(dataItem)" class="fe fe-user-plus"></i></span>
              <div class="dropdown-menu p-0">
                <app-addusermodal (userRefresh)="userRefresh($event)">
                </app-addusermodal>
              </div>
            </span> -->

          </div>
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column field="reportedHoursCache" editor="number" title="Task Hour" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="tag text-dark">
            <span class="tag-avatar avatar">
              <i class="fe fe-clock"></i>
            </span>
            {{ dataItem.reportedHoursCache| number: "1.2-2" }}
          </span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="percentCompleted" editor="number" title="%" width="80">
        <ng-template kendoGridCellTemplate let-per>
          <span class="tag tag-azure">{{
        per.percentCompleted | number: "1.0-0"
      }}%</span>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="startDate" title="Start Date" width="150">
        <ng-template kendoGridCellTemplate let-sdate>

          {{sdate.startDate| date : 'mediumDate'}}

        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="endDate" title="End Date" width="150">
        <ng-template kendoGridCellTemplate let-edate>

          {{edate.endDate| date : 'mediumDate'}}

        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="projectStatusName" title="Status" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>

          {{dataItem.projectStatusName}}

        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="opportunityPriorityId" title="Priority" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.opportunityPriorityName != null">
            <span *ngIf="
            dataItem.opportunityPriorityName == '3 - High Priority' ||
            dataItem.opportunityPriorityName == '2 - Very High Priority' ||
            dataItem.opportunityPriorityName == '1 - Highest Priority'
          ">
              <button class="priority-button bg-high m-0">High</button>
            </span>
            <span *ngIf="
            dataItem.opportunityPriorityName == '4 - Medium High Priority' ||
            dataItem.opportunityPriorityName == '5 - Medium Priority' ||
            dataItem.opportunityPriorityName == '6 - Medium Low Priority'
          ">
              <button class="priority-button bg-medium m-0">Medium</button>
            </span>
            <span *ngIf="
            dataItem.opportunityPriorityName == '7 - Low Priority' ||
            dataItem.opportunityPriorityName == '8 - Very Low Priority' ||
            dataItem.opportunityPriorityName == '9 - Lowest Priority'
          ">
              <button class="priority-button bg-low m-0">Low</button>
            </span>
          </span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column field="milestoneP" title="Milestone" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <input type="checkbox" value="true" [checked]="dataItem.milestoneP" disabled />
        </ng-template>
      </kendo-grid-column>
      <div *kendoGridDetailTemplate="let dataItem" class="ml-6">
        <h5 class="border-bottom pb-1">Subtask</h5>
        <kendo-grid [data]="dataItem.subTask">
          <kendo-grid-column field="projectname" title="Title" width="300">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span class="cell-hover">
                <h4 class="mb-1 text-primary">{{ dataItem.projectname }}</h4>

              </span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="projectbudgethours" editor="number" title="Planned Hour">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span class="tag text-dark">
                <span class="tag-avatar avatar">
                  <i class="fe fe-clock"></i>
                </span>
                {{ dataItem.projectbudgethours| number: "1.2-2" }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column title="Assigned" width="210">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="avatar-list avatar-list-stacked">
                <span *ngFor="let a of dataItem.allocationTable; let i = index">
                  <span *ngIf="i < 5" class="avatar avatar-sm avatar-hover avatar-blue" data-toggle="tooltip"
                    data-placement="top" title="{{a.employee_first_name|initial}}{{a.employee_last_name|initial}}"
                    [ngClass]="{'avatar-purple': (i+1)%5==0,'avatar-blue': (i+1)%5==1, 'avatar-azure': (i+1)%5==2, 'avatar-indigo': (i+1)%5==3, 'avatar-red': (i+1)%5==4}">{{ a.employee_first_name | initial
            }}{{ a.employee_last_name | initial }}</span>
                </span>

                <span class="avatar avatar-sm avatar-hover avatar-gray dropdown-toggle"
                  *ngIf="dataItem.allocationTable.length > 5"
                  data-toggle="dropdown">+{{ dataItem.allocationTable.length - 5 }}</span>
                <div class="dropdown-menu dropdown-menu-right allow-focus" x-placement="bottom-end">
                  <p class="mb-0 ml-3 text-muted">More user</p>
                  <ul class="list-unstyled mb-0 o-auto p-3" style="max-height: 320px;">
                    <li *ngFor="let a of dataItem.allocationTable; let i = index">
                      <div class="d-flex align-items-center" *ngIf="i>4">
                        <div class="avatar mr-3"
                          [ngClass]="{'avatar-blue': (i+1)%14==0,'avatar-azure': (i+1)%14==1, 'avatar-indigo': (i+1)%14==2, 'avatar-purple': (i+1)%14==3, 'avatar-pink': (i+1)%14==4, 'avatar-red': (i+1)%14==5, 'avatar-orange': (i+1)%14==6, 'avatar-yellow': (i+1)%14==7, 'avatar-lime': (i+1)%14==8, 'avatar-green': (i+1)%14==9, 'avatar-teal': (i+1)%14==10, 'avatar-cyan': (i+1)%14==11, 'avatar-gray': (i+1)%14==12, 'avatar-gray-dark': (i+1)%14==13}">
                          <p class="font-weight-normal mb-0">
                            {{a.employee_first_name|initial}} {{a.employee_last_name|initial}}
                          </p>
                        </div>
                        <div class="mb-3 text-truncate">
                          <span>{{a.employee_first_name}} {{a.employee_last_name}}</span>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!-- <span>
                  <span class="pointer avatar avatar-sm avatar-sm avatar-tile float-right dropdown-toggle"
                    data-toggle="dropdown"><i (click)="openUserModal(dataItem)" class="fe fe-user-plus"></i></span>
                  <div class="dropdown-menu p-0">
                    <app-addusermodal (userRefresh)="userRefresh($event)">
                    </app-addusermodal>
                  </div>
                </span> -->

              </div>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="loghours" editor="number" title="Timesheet Hour">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span class="tag text-dark">
                <span class="tag-avatar avatar">
                  <i class="fe fe-clock"></i>
                </span>
                {{ dataItem.loghours| number: "1.2-2" }}
              </span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="percentcompleted" editor="number" title="Percentage">
            <ng-template kendoGridCellTemplate let-per>
              <span class="tag tag-azure">{{
        per.percentcompleted | number: "1.0-0"
      }}%</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="reportedhourscache" editor="number" title="Task Hour">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span class="tag text-dark">
                <span class="tag-avatar avatar">
                  <i class="fe fe-clock"></i>
                </span>
                {{ dataItem.reportedhourscache| number: "1.2-2" }}
              </span>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="startdate" title="Start Date">
            <ng-template kendoGridCellTemplate let-sdate>
              {{sdate.startdate| date : 'mediumDate'}}

            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="enddate" title="End Date">
            <ng-template kendoGridCellTemplate let-edate>

              {{edate.enddate| date : 'mediumDate'}}

            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="projectstatusname" title="Status">
            <ng-template kendoGridCellTemplate let-dataItem>

              {{dataItem.projectstatusname}}

            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="opportunitypriorityid" title="Priority">
            <ng-template kendoGridCellTemplate let-dataItem>
              <span *ngIf="dataItem.opportunitypriorityname != null">
                <span *ngIf="
            dataItem.opportunitypriorityname == '3 - High Priority' ||
            dataItem.opportunitypriorityname == '2 - Very High Priority' ||
            dataItem.opportunitypriorityname == '1 - Highest Priority'
          ">
                  <button class="priority-button bg-high m-0">High</button>
                </span>
                <span *ngIf="
            dataItem.opportunitypriorityname == '4 - Medium High Priority' ||
            dataItem.opportunitypriorityname == '5 - Medium Priority' ||
            dataItem.opportunitypriorityname == '6 - Medium Low Priority'
          ">
                  <button class="priority-button bg-medium m-0">Medium</button>
                </span>
                <span *ngIf="
            dataItem.opportunitypriorityname == '7 - Low Priority' ||
            dataItem.opportunitypriorityname == '8 - Very Low Priority' ||
            dataItem.opportunitypriorityname == '9 - Lowest Priority'
          ">
                  <button class="priority-button bg-low m-0">Low</button>
                </span>
              </span>
            </ng-template>
          </kendo-grid-column>


          <kendo-grid-column field="milestonep" title="Milestone">
            <ng-template kendoGridCellTemplate let-dataItem>
              <input type="checkbox" value="true" [checked]="dataItem.milestonep" disabled />
            </ng-template>
          </kendo-grid-column>

        </kendo-grid>

      </div>
    </kendo-grid>

  </div>
  <!-- 
 <div class="row">
  <div class="col-sm-3 col-md-2">
    <div class="card p-3 text-center card-one">
      <h2 class="mb-1">12</h2>
      <p>Backlog</p>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="card p-3 text-center card-two">
      <h2 class="mb-1">10</h2>
      <p>Not Started</p>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="card p-3 text-center card-three">
      <h2 class="mb-1">09</h2>
      <p>Inprogress</p>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="card p-3 text-center card-four">
      <h2 class="mb-1">11</h2>
      <p>Completed</p>
    </div>
  </div>
  <div class="col-sm-3 col-md-2">
    <div class="card p-3 text-center card-five">
      <h2 class="mb-1">10</h2>
      <p>On Hold</p>
    </div>
  </div>
 </div> -->

  <div class="main-header">
    Task
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-3 taskcard-1" (click)="showTaskTable('inProgress')">
      <div class="card p-4">
        <table class="task">
          <tr>
            <td>
              <h2 class="mr-4 mb-1">{{inProgressCount}}</h2>
            </td>
            <td class="w-100">
              <div class="progress progress-sm bg-white">
                <div class="progress-bar progress-bg" style="width: 60%"></div>
              </div>
            </td>
          </tr>
        </table>

        <h4>In Progress Tasks</h4>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 taskcard-2" (click)="showTaskTable('onHold')">
      <div class="card p-4">
        <table class="task">
          <tr>
            <td>
              <h2 class="mr-4 mb-1">{{onHoldCount}}</h2>
            </td>
            <td class="w-100">
              <div class="progress progress-sm bg-white">
                <div class="progress-bar hold-bg" style="width: 24%"></div>
              </div>
            </td>
          </tr>
        </table>

        <h4>On Hold Tasks</h4>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 taskcard-3" (click)="showTaskTable('pending')">
      <div class="card p-4">
        <table class="task">
          <tr>
            <td>
              <h2 class="mr-4 mb-1">{{notStartedCount}}</h2>
            </td>
            <td class="w-100">
              <div class="progress progress-sm bg-white">
                <div class="progress-bar pending-bg" style="width: 40%"></div>
              </div>
            </td>
          </tr>
        </table>

        <h4>Pending Tasks</h4>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3 taskcard-4" (click)="showTaskTable('complete')">
      <div class="card p-4">
        <table class="task">
          <tr>
            <td>
              <h2 class="mr-4 mb-1">{{completeCount}}</h2>
            </td>
            <td class="w-100">
              <div class="progress progress-sm bg-white">
                <div class="progress-bar complete-bg" style="width: 80%"></div>
              </div>
            </td>
          </tr>
        </table>

        <h4>Completed Tasks</h4>
      </div>
    </div>
    <div class="collapse container" id="taskDetail">
      <kendo-grid [data]="taskData" [height]="230">
        <kendo-grid-column field="projectName" title="Task List">
        </kendo-grid-column>
        <kendo-grid-column field="endDate" title="End Date" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            {{ dataItem.endDate| date : 'mediumDate'}}
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Percentage(%)">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.percentCompleted">
              <span>{{dataItem.percentCompleted|number : '1.0-0'}}%</span>
              <div class="progress progress-xs">
                <div class="progress-bar bg-yellow" role="progressbar"
                  [style.width]="(dataItem.percentCompleted/100)*100 + '%'" aria-valuenow="42" aria-valuemin="0"
                  aria-valuemax="100"></div>
              </div>
            </span>
            <span *ngIf="!dataItem.percentCompleted">
              <span>0%</span>
              <div class="progress progress-xs">
                <div class="progress-bar bg-yellow" role="progressbar" style="width:0%" aria-valuenow="42"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </span>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
    <!-- Weeks Card Start -->
    <!-- <div class="col-sm-6 col-lg-3">
      <div class="card p-3 hours">
        <div class="d-flex align-items-center">
          <img src="assets/img/hours.svg" alt="" />
          <div class="ml-3 mt-2">
            <p class="mb-1">Week</p>
            <h4>Hours</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3 available">
        <div class="d-flex align-items-center">
          <img src="assets/img/available.svg" alt="" />
          <div class="ml-3 mt-2">
            <p class="mb-1">Week</p>
            <h4>Hours</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3 allocate">
        <div class="d-flex align-items-center">
          <img src="assets/img/allocate.svg" alt="" />
          <div class="ml-3 mt-2">
            <p class="mb-1">Week</p>
            <h4>Hours</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card p-3 utilize">
        <div class="d-flex align-items-center">
          <img src="assets/img/utilize.svg" alt="" />
          <div class="ml-3 mt-2">
            <p class="mb-1">Week</p>
            <h4>Hours</h4>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Project Cards Start -->

    <div class="col-sm-6 col-lg-4">
      <!-- Project Card -->
      <div class="card table-padding">
        <div class="card-status bg-red"></div>
        <div class="card-header">
          <h3 class="card-title">Projects</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="o-auto dash-cardh">

          <div class="d-flex justify-content-between border-bottom p-2" *ngFor="let project of projects">
            <span class="text-truncate pl-3 w-80" (click)="showChildTaskProjects(project)">
              <span *ngIf="project.opportunityPriorityName==null">
              </span>
              <span *ngIf="project.opportunityPriorityName!=null">
                <span
                  *ngIf="project.opportunityPriorityName=='3 - High Priority' || project.opportunityPriorityName== '2 - Very High Priority' || project.opportunityPriorityName=='1 - Highest Priority'">
                  <span class="square bg-darkgreen mr-1"></span>
                </span>
                <span
                  *ngIf="project.opportunityPriorityName=='4 - Medium High Priority' || project.opportunityPriorityName== '5 - Medium Priority' || project.opportunityPriorityName=='6 - Medium Low Priority'">
                  <span class="square bg-darkyellow mr-1"></span>
                </span>
                <span
                  *ngIf="project.opportunityPriorityName=='7 - Low Priority' || project.opportunityPriorityName=='8 - Very Low Priority' || project.opportunityPriorityName=='9 - Lowest Priority'">
                  <span class="square bg-darkred mr-1"></span>
                </span>
              </span>
              {{project.projectName}}
            </span>
            <div>
              <span *ngIf="project.percentCompleted==100">
                <span class="badge badge-success">Finished</span>
              </span>
              <span *ngIf="compareLesser(project.endDate,activeDate)&& project.percentCompleted!=100">
                <span class="badge badge-danger">Late</span>
              </span>
              <span
                *ngIf="compareGreater(project.endDate,activeDate) && project.percentCompleted!=100 && project.percentCompleted">
                <span class="badge badge-default">{{project.percentCompleted|number : '1.0-0'}}%</span>
              </span>
              <span *ngIf="compareGreater(project.startDate,activeDate) && !project.percentCompleted">
                <span class="badge badge-warning">Pending</span>
              </span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Milestones Card -->
      <div class="card table-padding">
        <div class="card-status bg-success"></div>
        <div class="card-header">
          <h3 class="card-title">Milestones</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>

        <div class="o-auto dash-cardh">
          <div class="d-flex justify-content-between border-bottom p-2" *ngFor="let milestone of milestone">
            <span class="text-truncate pl-3 w-80">
              <span>{{milestone.projectName}}</span>
              <p class="mb-0"> <small class="text-muted">{{milestone.endDate| date : 'mediumDate'}}</small></p>
              <!-- <p class="mb-0">Task</p> -->
            </span>
            <div><span *ngIf="milestone.percentCompleted==100">
                <span class="badge badge-success">Finished</span>
              </span>
              <span *ngIf="compareLesser(milestone.endDate,activeDate)&& milestone.percentCompleted!=100">
                <span class="badge badge-danger">Late</span>
              </span>
              <span
                *ngIf="compareGreater(milestone.endDate,activeDate) && milestone.percentCompleted!=100 && milestone.percentCompleted">
                <span class="badge badge-default">{{milestone.percentCompleted|number : '1.0-0'}}%</span>
              </span>
              <span *ngIf="compareGreater(milestone.startDate,activeDate) && !milestone.percentCompleted">
                <span class="badge badge-warning">Pending</span>
              </span>
              <!-- <span class="badge badge-warning">Pending</span> -->
            </div>
          </div>

          <!-- <div class="d-flex justify-content-between border-bottom p-2">
            <span class="text-truncate pl-3 w-80">
              <span>Recon Data on episode viewRecon Data on episode view Data on episode view</span>
              <p class="mb-0"> <small class="text-muted">Apr 15, 2019</small></p>
              <p class="mb-0">Task</p>
            </span>
            <div>
              <span class="badge badge-warning">Pending</span>
            </div>
          </div>

          <div class="d-flex justify-content-between border-bottom p-2">
            <span class="text-truncate pl-3 w-80">
              <span>Recon Data on episode viewRecon Data on episode view Data on episode view</span>
              <p class="mb-0"> <small class="text-muted">Apr 15, 2019</small></p>
              <p class="mb-0">Task</p>
            </span>
            <div>
              <span class="badge badge-danger">Late</span>
            </div>
          </div>

          <div class="d-flex justify-content-between border-bottom p-2">
            <span class="text-truncate pl-3 w-80">
              <span>Groupings participating providers</span>
              <p class="mb-0"> <small class="text-muted">Apr 15, 2019</small></p>
              <p class="mb-0">Task</p>
            </span>
            <div>
              <span class="badge badge-primary">Open</span> </div>
          </div> -->
        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Tasks Card -->
      <div class="card table-padding">
        <div class="card-status bg-primary"></div>
        <div class="card-header">
          <h3 class="card-title">Tasks</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body o-auto p-0">
          <div class="o-auto dash-cardh">
            <div class="d-flex justify-content-between border-bottom p-2" *ngFor="let task of tasks">
              <span class="text-truncate pl-3 w-80">
                <span>{{task.projectName}}</span>
              </span>
              <div>
                <span class="badge badge-leafgreen">{{task.percentCompleted|number : '1.0-0'}}%</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="collapse container" id="showChildTaskProjects">
      <kendo-grid [data]="projectTaskBottomData" class="w-100" [height]="230" [loading]="loadingChildTaskProjectsGrid">
        <kendo-grid-column field="projectName" title="Title" width="300">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span class="cell-hover">
              <h4 class="mb-1 text-primary">{{ dataItem.projectName }}</h4>
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="projectBudgetHours" editor="number" title="Planned Hour" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span class="tag text-dark">
              {{ dataItem.projectBudgetHours| number: "1.2-2" }}
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column title="Assigned" width="180">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div class="avatar-list avatar-list-stacked">
              <span *ngFor="let a of dataItem.allocationTable; let i = index">
                <span *ngIf="i < 5" class="avatar avatar-sm avatar-hover avatar-blue" data-toggle="tooltip"
                  data-placement="top" title="{{ a.employee_first_name | initial}}{{ a.employee_last_name | initial }}"
                  [ngClass]="{'avatar-purple': (i+1)%5==0,'avatar-blue': (i+1)%5==1, 'avatar-azure': (i+1)%5==2, 'avatar-indigo': (i+1)%5==3, 'avatar-red': (i+1)%5==4}">{{ a.employee_first_name | initial
                                      }}{{ a.employee_last_name | initial }}</span>
              </span>

              <span class="avatar avatar-sm avatar-hover avatar-gray dropdown-toggle"
                *ngIf="dataItem.allocationTable.length > 5"
                data-toggle="dropdown">+{{ dataItem.allocationTable.length - 5 }}</span>
              <div class="dropdown-menu dropdown-menu-right allow-focus" x-placement="bottom-end">
                <p class="mb-0 ml-3 text-muted">More user</p>
                <ul class="list-unstyled mb-0 o-auto p-3" style="max-height: 320px;">
                  <li *ngFor="let a of dataItem.allocationTable; let i = index">
                    <div class="d-flex align-items-center" *ngIf="i>4">
                      <div class="avatar mr-3"
                        [ngClass]="{'avatar-blue': (i+1)%14==0,'avatar-azure': (i+1)%14==1, 'avatar-indigo': (i+1)%14==2, 'avatar-purple': (i+1)%14==3, 'avatar-pink': (i+1)%14==4, 'avatar-red': (i+1)%14==5, 'avatar-orange': (i+1)%14==6, 'avatar-yellow': (i+1)%14==7, 'avatar-lime': (i+1)%14==8, 'avatar-green': (i+1)%14==9, 'avatar-teal': (i+1)%14==10, 'avatar-cyan': (i+1)%14==11, 'avatar-gray': (i+1)%14==12, 'avatar-gray-dark': (i+1)%14==13}">
                        <p class="font-weight-normal mb-0">
                          {{a.employee_first_name|initial}}{{a.employee_last_name|initial}}
                        </p>
                      </div>
                      <div class="mb-3 text-truncate">
                        <span>{{a.employee_first_name}} {{a.employee_last_name}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- <span>
                                        <span class="pointer avatar avatar-sm avatar-tile  dropdown-toggle float-right" data-toggle="dropdown"><i
                                            (click)="openUserModal(dataItem)" class="fe fe-user-plus"></i></span>
                                        <div class="dropdown-menu p-0">
                                          <app-addusermodal (userRefresh)="userRefresh($event)">
                                          </app-addusermodal>
                                        </div>
                                      </span> -->

            </div>
          </ng-template>

        </kendo-grid-column>
        <kendo-grid-column field="reportedHoursCache" editor="number" title="Task Hour" width="120">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span class="tag text-dark">
              <span class="tag-avatar avatar">
                <i class="fe fe-clock"></i>
              </span>
              {{ dataItem.reportedHoursCache| number: "1.2-2" }}
            </span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="percentCompleted" editor="number" title="%" width="80">
          <ng-template kendoGridCellTemplate let-per>
            <span class="tag tag-azure">{{
                                  per.percentCompleted | number: "1.0-0"
                                }}%</span>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="startDate" title="Start Date" width="150">
          <ng-template kendoGridCellTemplate let-sdate>

            {{sdate.startDate| date : 'mediumDate'}}

          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="endDate" title="End Date" width="150">
          <ng-template kendoGridCellTemplate let-edate>

            {{edate.endDate| date : 'mediumDate'}}

          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="projectStatusName" title="Status" width="150">
          <ng-template kendoGridCellTemplate let-dataItem>

            {{dataItem.projectStatusName}}

          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="opportunityPriorityId" title="Priority" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <span *ngIf="dataItem.opportunityPriorityName != null">
              <span *ngIf="
                                      dataItem.opportunityPriorityName == '3 - High Priority' ||
                                      dataItem.opportunityPriorityName == '2 - Very High Priority' ||
                                      dataItem.opportunityPriorityName == '1 - Highest Priority'
                                    ">
                <button class="priority-button bg-high m-0">High</button>
              </span>
              <span *ngIf="
                                      dataItem.opportunityPriorityName == '4 - Medium High Priority' ||
                                      dataItem.opportunityPriorityName == '5 - Medium Priority' ||
                                      dataItem.opportunityPriorityName == '6 - Medium Low Priority'
                                    ">
                <button class="priority-button bg-medium m-0">Medium</button>
              </span>
              <span *ngIf="
                                      dataItem.opportunityPriorityName == '7 - Low Priority' ||
                                      dataItem.opportunityPriorityName == '8 - Very Low Priority' ||
                                      dataItem.opportunityPriorityName == '9 - Lowest Priority'
                                    ">
                <button class="priority-button bg-low m-0">Low</button>
              </span>
            </span>
          </ng-template>
        </kendo-grid-column>

        <kendo-grid-column field="milestoneP" title="Milestone" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <input type="checkbox" value="true" [checked]="dataItem.milestoneP" disabled />
          </ng-template>
        </kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem" class="ml-6">
          <h5 class="border-bottom pb-1">Subtask</h5>
          <kendo-grid [data]="dataItem.subTask">
            <kendo-grid-column field="projectname" title="Title" width="300">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span class="cell-hover">
                  <h4 class="mb-1 text-primary">{{ dataItem.projectname }}</h4>

                </span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="projectbudgethours" editor="number" title="Planned Hour">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span class="tag text-dark">
                  <span class="tag-avatar avatar">
                    <i class="fe fe-clock"></i>
                  </span>
                  {{ dataItem.projectbudgethours| number: "1.2-2" }}
                </span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column title="Assigned" width="210">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div class="avatar-list avatar-list-stacked">
                  <span *ngFor="let a of dataItem.allocationTable; let i = index">
                    <span *ngIf="i < 5" class="avatar avatar-sm avatar-hover avatar-blue" data-toggle="tooltip"
                      data-placement="top" title="{{a.employee_first_name|initial}}{{a.employee_last_name|initial}}"
                      [ngClass]="{'avatar-purple': (i+1)%5==0,'avatar-blue': (i+1)%5==1, 'avatar-azure': (i+1)%5==2, 'avatar-indigo': (i+1)%5==3, 'avatar-red': (i+1)%5==4}">{{ a.employee_first_name | initial
                                      }}{{ a.employee_last_name | initial }}</span>
                  </span>

                  <span class="avatar avatar-sm avatar-hover avatar-gray dropdown-toggle"
                    *ngIf="dataItem.allocationTable.length > 5"
                    data-toggle="dropdown">+{{ dataItem.allocationTable.length - 5 }}</span>
                  <div class="dropdown-menu dropdown-menu-right allow-focus" x-placement="bottom-end">
                    <p class="mb-0 ml-3 text-muted">More user</p>
                    <ul class="list-unstyled mb-0 o-auto p-3" style="max-height: 320px;">
                      <li *ngFor="let a of dataItem.allocationTable; let i = index">
                        <div class="d-flex align-items-center" *ngIf="i>4">
                          <div class="avatar mr-3"
                            [ngClass]="{'avatar-blue': (i+1)%14==0,'avatar-azure': (i+1)%14==1, 'avatar-indigo': (i+1)%14==2, 'avatar-purple': (i+1)%14==3, 'avatar-pink': (i+1)%14==4, 'avatar-red': (i+1)%14==5, 'avatar-orange': (i+1)%14==6, 'avatar-yellow': (i+1)%14==7, 'avatar-lime': (i+1)%14==8, 'avatar-green': (i+1)%14==9, 'avatar-teal': (i+1)%14==10, 'avatar-cyan': (i+1)%14==11, 'avatar-gray': (i+1)%14==12, 'avatar-gray-dark': (i+1)%14==13}">
                            <p class="font-weight-normal mb-0">
                              {{a.employee_first_name|initial}} {{a.employee_last_name|initial}}
                            </p>
                          </div>
                          <div class="mb-3 text-truncate">
                            <span>{{a.employee_first_name}} {{a.employee_last_name}}</span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- <span>
                                            <span class="pointer avatar avatar-sm avatar-sm avatar-tile float-right dropdown-toggle"
                                              data-toggle="dropdown"><i (click)="openUserModal(dataItem)" class="fe fe-user-plus"></i></span>
                                            <div class="dropdown-menu p-0">
                                              <app-addusermodal (userRefresh)="userRefresh($event)">
                                              </app-addusermodal>
                                            </div>
                                          </span> -->

                </div>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="loghours" editor="number" title="Timesheet Hour">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span class="tag text-dark">
                  <span class="tag-avatar avatar">
                    <i class="fe fe-clock"></i>
                  </span>
                  {{ dataItem.loghours| number: "1.2-2" }}
                </span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="percentcompleted" editor="number" title="Percentage">
              <ng-template kendoGridCellTemplate let-per>
                <span class="tag tag-azure">{{
                                  per.percentcompleted | number: "1.0-0"
                                }}%</span>
              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="reportedhourscache" editor="number" title="Task Hour">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span class="tag text-dark">
                  <span class="tag-avatar avatar">
                    <i class="fe fe-clock"></i>
                  </span>
                  {{ dataItem.reportedhourscache| number: "1.2-2" }}
                </span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="startdate" title="Start Date">
              <ng-template kendoGridCellTemplate let-sdate>
                {{sdate.startdate| date : 'mediumDate'}}

              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="enddate" title="End Date">
              <ng-template kendoGridCellTemplate let-edate>

                {{edate.enddate| date : 'mediumDate'}}

              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="projectstatusname" title="Status">
              <ng-template kendoGridCellTemplate let-dataItem>

                {{dataItem.projectstatusname}}

              </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="opportunitypriorityid" title="Priority">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.opportunitypriorityname != null">
                  <span *ngIf="
                                      dataItem.opportunitypriorityname == '3 - High Priority' ||
                                      dataItem.opportunitypriorityname == '2 - Very High Priority' ||
                                      dataItem.opportunitypriorityname == '1 - Highest Priority'
                                    ">
                    <button class="priority-button bg-high m-0">High</button>
                  </span>
                  <span *ngIf="
                                      dataItem.opportunitypriorityname == '4 - Medium High Priority' ||
                                      dataItem.opportunitypriorityname == '5 - Medium Priority' ||
                                      dataItem.opportunitypriorityname == '6 - Medium Low Priority'
                                    ">
                    <button class="priority-button bg-medium m-0">Medium</button>
                  </span>
                  <span *ngIf="
                                      dataItem.opportunitypriorityname == '7 - Low Priority' ||
                                      dataItem.opportunitypriorityname == '8 - Very Low Priority' ||
                                      dataItem.opportunitypriorityname == '9 - Lowest Priority'
                                    ">
                    <button class="priority-button bg-low m-0">Low</button>
                  </span>
                </span>
              </ng-template>
            </kendo-grid-column>


            <kendo-grid-column field="milestonep" title="Milestone">
              <ng-template kendoGridCellTemplate let-dataItem>
                <input type="checkbox" value="true" [checked]="dataItem.milestonep" disabled />
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
        </div>
      </kendo-grid>
    </div>
    <div class="col-sm-6 col-lg-4">
      <!-- Risk Card -->
      <div class="card table-padding">
        <div class="card-status bg-yellow"></div>
        <div class="card-header">
          <h3 class="card-title">Risk</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>

        <div class="card-body o-auto p-0">
          <div class="o-auto dash-cardh">
            <div class="d-flex justify-content-between border-bottom p-2" (click)="showRiskDetail('totalRisk')">
              <span class="text-truncate pl-3 w-80">
                <span>Total Risk</span>
              </span>
              <div>
                <span class="badge badge-leafgreen">{{totalRisk.length}}</span>
              </div>
            </div>

            <div class="d-flex justify-content-between border-bottom p-2" (click)="showRiskDetail('projectRisk')">
              <span class="text-truncate pl-3 w-80">
                <span>Project Risk</span>
              </span>
              <div>
                <span class="badge badge-orange">{{projectRisk.length}}</span>
              </div>
            </div>

            <div class="d-flex justify-content-between border-bottom p-2" (click)="showRiskDetail('taskRisk')">
              <span class="text-truncate pl-3 w-80">
                <span>Task Risk</span>
              </span>
              <div>
                <span class="badge badge-violet">{{taskRisk.length}}</span>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between border-bottom p-2">
              <span class="text-truncate pl-3 w-80">
                <span>MyQOne Mobile Apps</span>
              </span>
              <div>
                <span class="badge badge-blueprimary">18</span>
              </div>
            </div> -->
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Learning& Development Card -->
      <!-- <div class="card table-padding">
        <div class="card-status bg-purple"></div>
        <div class="card-header">
          <h3 class="card-title">Learning & Development</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body mx-auto" style="height: 220px;">
          <img src="assets/img/learn-chart.svg" />
        </div>
      </div> -->
    </div>

    <div class="col-sm-6 col-lg-4">
      <!-- Calendar Card -->
      <!-- <div class="card table-padding">
        <div class="card-status bg-red"></div>
        <div class="card-header">
          <h3 class="card-title">Calendar</h3>
          <div class="card-options">
            <a class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            <a class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
          </div>
        </div>
        <div class="card-body o-auto p-0" style="height: 220px;">
          <table class="table card-table">
            <tbody>
              <tr>
                <td>
                  <div class="project-title">QOne Beta Release</div>
                  <small class="text-muted">May 15, 2019</small>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="project-title">Surescript Certification</div>
                  <small class="text-muted">Jul 06, 2019</small>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="project-title">QOne Beta Release</div>
                  <small class="text-muted">Oct 09, 2019</small>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
  <div class="collapse" id="riskDetail">
    <kendo-grid [data]="riskData" [height]="230" [loading]="loadingRiskGrid">
      <kendo-grid-column field="projectName" title="Project List">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.projectName}}
        </ng-template>

      </kendo-grid-column>
      <kendo-grid-column field="endDate" title="End Date">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{ dataItem.endDate| date : 'mediumDate'}}
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column title="Percentage(%)">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span *ngIf="dataItem.percentCompleted">
            <span>{{dataItem.percentCompleted|number : '1.0-0'}}%</span>
            <div class="progress progress-xs">
              <div class="progress-bar bg-yellow" role="progressbar"
                [style.width]="(dataItem.percentCompleted/100)*100 + '%'" aria-valuenow="42" aria-valuemin="0"
                aria-valuemax="100"></div>
            </div>
          </span>
          <span *ngIf="!dataItem.percentCompleted">
            <span>0%</span>
            <div class="progress progress-xs">
              <div class="progress-bar bg-yellow" role="progressbar" style="width:0%" aria-valuenow="42"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </span>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>