.navbar-nav > .messages-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}

.flex-box {
  display: flex;
}

.flexrow {
  -ms-flex-direction: row;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 1.7rem;
}

.form-label,
.custom-control {
  font-size: 16px !important;
}

.wizard-card-header {
  background-color: #fff;
  background-clip: border-box;
  height: 100px;
  margin-top: 20px;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
}
aw-wizard-step {
  margin-top: 20px;
  width: 100%;
}

/* Mobile Responsive media query */
@media only screen and (max-width: 600px) {
  .flexrow {
    -ms-flex-direction: column;
    flex-direction: column;
    display: flex;
    text-align: left;
    margin-left: 0;
  }
  .flex-box {
    flex-direction: column;
  }
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.dropdown-menu {
  width: 15rem;
}
.allow-focus {
  box-shadow: 0px 7px 21px rgba(0, 0, 0, 0.1);
}

/* priority button css */
.bg-low {
  background: rgba(128, 213, 238, 1);
  background: linear-gradient(
    90deg,
    rgba(128, 213, 238, 1) 0%,
    rgba(126, 212, 146, 1) 100%
  );
}

.bg-medium {
  background: rgba(255, 183, 77, 1);
  background: linear-gradient(
    90deg,
    rgba(255, 183, 77, 1) 0%,
    rgba(255, 151, 132, 1) 100%
  );
}

.bg-high {
  background: rgba(199, 129, 255, 1);
  background: linear-gradient(
    90deg,
    rgba(199, 129, 255, 1) 0%,
    rgba(229, 115, 115, 1) 100%
  );
}